
\.idea/
\GAOutput/*
\correctPatch/*
\resources/CodeWithLines.java
\fault_localization/gzoltar.csv
\fault_localization/suspicious.csv

*.class

GAOutput/GCD.java
GAOutput/GCD.java
GAOutput/GCD.java
GAOutput/GCD.java
parsed/fixed.xml
src/GCD.java
